@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model List<PTStore.Models.DienThoai>

@{
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}
<section style="background-color:#f0f0e9 ; margin-top:2%">
    <div class="container" style="background-color:white">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="recommended_items" style="margin-top:3%">
                    <h2 class="title text-center">CÁC ĐIỆN THOẠI ĐỀ XUẤT</h2>
                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item">
                                @{
                                    foreach (var item in Model)
                                    {
                                        <div class="col-sm-3">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="@item.HinhAnh" alt="@item.Name">
                                                        <h2>@item.Gia</h2>
                                                        <p>@item.Name</p>

                                                    </div>
                                                    <div class="product-overlay">
                                                        <div class="overlay-content">
                                                            <h2>@item.Gia</h2>
                                                            <p>@item.Name</p>
                                                            <a href="/Home/Detail" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Chi tiết</a>
                                                            <a href="/Home/Cart" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>

                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<p> endddd</p>


