@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model PTStore.Models.DonHang

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDonHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaDonHang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiNhan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenNguoiNhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayDatHang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayDuKienGiao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayDuKienGiao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HinhThucThanhToan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HinhThucThanhToan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangTrai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangTrai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DonHangId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
