@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using PTStore.Models;

@model PTStore.Models.DonHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết đơn hàng</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã đơn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaDonHang)
        </dd>
        <dt>
            Tên người nhận
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenNguoiNhan)
        </dd>
        <dt>
            Địa chỉ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Số điện thoại
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt>
            Ngày đặt hàng
        </dt>
        <dd>
            @Model.NgayDatHang?.ToString("dd/M/yyyy")
        </dd>
        <dt>
            Ngày dự kiến giao
        </dt>
        <dd>
            @Model.NgayDuKienGiao?.ToString("dd/M/yyyy")
        </dd>
        <dt>
            Hình thức thanh toán
        </dt>
        <dd>
            @Model.HinhThucThanhToan
        </dd>
        <dt>
            Trạng thái
        </dt>
        <dd>
            @Model.TrangTrai
        </dd>
        <dt>Chi tiết đơn</dt>
        <dd>
            @{
                PTStoreContext context = new PTStoreContext();
                var qr = context.ChiTietDonHangs.Where(x => x.DonHangId == Model.DonHangId).ToList();
                double x = 0;
                foreach (var item in qr)
                {
                    <div>@context.DienThoais.Where(x => x.DienThoaiId == item.DienThoaiId).First().Name ** Số lượng: @item.SoLuong ** Tổng giá: @string.Format("{0:0,0}", @item.Gia) VNĐ </div>
                    x = x + item.Gia.GetValueOrDefault();
                    <br />
                }
            }
        </dd>
        <dt>
            Tổng đơn hàng:
        </dt>
        <dd>
            <strong>@string.Format("{0:0,0}", x) VNĐ</strong>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonHangId">Sửa trạng thái</a> |
    <a asp-action="Index">Quay lại</a>
</div>
