@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model PTStore.Models.DonHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDonHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaDonHang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiNhan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenNguoiNhan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayDatHang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayDuKienGiao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayDuKienGiao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HinhThucThanhToan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HinhThucThanhToan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrangTrai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangTrai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonHangId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
