@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model IEnumerable<PTStore.Models.DonHang>

@{
    ViewData["Title"] = "Đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#337ab7">Quản lý đơn hàng</h2>

<div class="navbar-form navbar-left" style="padding-top:7px; padding-left:0px">
    <form class="navbar-form navbar-left" asp-action="Index" method="post">
        <div class="input-group">
            <input type="text" name="search" value="" class="form-control" placeholder="Nhập nội dung ...">
            <span class="input-group-btn"><button type="submit" class="btn btn-primary">Tìm kiếm</button></span>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã đơn
            </th>
            <th>
                Mã khách hàng
            </th>
            <th>
                Tên người nhận
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Ngày đặt hàng
            </th>
            <th>
                Thanh toán
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDonHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenNguoiNhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @item.NgayDatHang?.ToString("dd/M/yyyy")
            </td>
            <td>
                @if (item.HinhThucThanhToan == "TrucTiep")
                {
                    <div>Trực tiếp</div>
                }
                else
                {
                    <div>Paypal</div>
                }
            </td>
            <td>
                @switch (item.TrangTrai)
                {
                    case "DaGiaoHang":<div>Đã giao hàng</div>
                        break;
                    case "DatHangThanhCong": <div>Đặt hàng thành công</div>
                        break;
                    case "GiaoThanhCong": <div>Giao thành công</div>
                        break;
                    case "BiHuy": <div>Bị huỷ</div>
                        break;
                    default: <div>Lỗi</div>
                        break;
                }
            </td>
            <td>
                @{ 
                    if(item.TrangTrai != "GiaoThanhCong" && item.TrangTrai!="BiHuy")
                    {
                        <a asp-action="Edit" asp-route-id="@item.DonHangId">Sửa trạng thái</a>
                        <br />
                    }
                }
                @*<a asp-action="Edit" asp-route-id="@item.DonHangId">Sửa trạng thái</a>*@ |
                <a asp-action="Details" asp-route-id="@item.DonHangId">Chi tiết</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
                        document.getElementById("ahome").className = "";
                        document.getElementById("abieudo").className = "";
                        document.getElementById("adienthoai").className = "";
                        document.getElementById("adonhang").className = "active";
                        document.getElementById("agopy").className = "";
                        document.getElementById("athuonghieu").className = "";

                        document.getElementById("ataikhoan").className = "";
                        document.getElementById("asubcriber").className = "";
                        document.getElementById("aadmin").className = "";
                        document.getElementById("acustomer").className = "";

                    });
</script>
