@using PTStore.Models;
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Account";
    Layout = "~/Areas/Customer/Views/Shared/_Layout.cshtml";
}

@{ 
    PTStoreContext context = new PTStoreContext();
    string id = Context.Session.GetString("UserId");
    int userid = int.Parse(id);
    User name = context.Users.Where(x => x.UserId == userid).FirstOrDefault();
}
<div class="container" style="background-color:white; margin-top:3%">
    <div class="row">
        <div class="col-sm-3 " style="background-color:white; text-align:center">
            <ul class="list-group bs-brand-item">
                <li class="list-group-item" style="height:80px">
                    <div>
                        <div class="col-sm-4 pull-left">
                            <img src="https://salt.tikicdn.com/desktop/img/avatar.png">
                        </div>
                        <div class="col-sm-8">
                            <h5>Tài khoản của</h5>
                            <strong style="">@name.HoVaTen</strong>
                        </div>
                    </div>
                </li>
                <li><a class="list-group-item" href="/Customer/Home/Account">Thông tin tài khoản</a></li>
                <li><a class="list-group-item" href="/Customer/Home/Manageorder">Quản lý đơn hàng</a></li>
                <li><a class="list-group-item" href="/Customer/Home/Feedback">Góp ý</a></li>
            </ul>
        </div>
        <div class="col-sm-9" style="background-color:white">
            <div>
                <div style="margin-top:1%">
                    <a style="font-size:30px; color:#fe980f">Thông tin tài khoản</a>
                </div>
                <div class="row" style="margin-top:2%; height:423px">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="accountinfo-form">
                            <form action="#">
                                <div class="mb-3">
                                    <label class="form-label">Họ và Tên</label>
                                    <input type="text" value="@name.HoVaTen" class="form-control" id="inputName">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" value="@name.Email" class="form-control" id="inputEmail" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Số điện thoại</label>
                                    <input type="text" value="@name.SoDienThoai" class="form-control" id="inputPhone" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Ngày sinh</label>
                                    <input value="@name.NgaySinh?.ToString("dd/M/yyyy")" type="date" class="form-control" id="inputBirthdate">
                                </div>
                                <div class="mb-3" style="margin-top:1%">
                                    <div class="form-check col-sm-4">
                                        <div class="col-sm-3">
                                            <label class="form-check-label" for="checkMale">
                                                Nam
                                            </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <input class="form-check-input" type="radio" style="height: 20px" id="checkMale" name="gioitinh">
                                        </div>

                                    </div>
                                    <div class="form-check col-sm-8">
                                        <div class="col-sm-1">
                                            <label for="checkFemale">
                                                Nữ
                                            </label>
                                        </div>
                                        <div class="col-sm-2">
                                            <input class="form-check-input" type="radio" style="height: 20px" id="checkFemale" name="gioitinh" checked>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Địa chỉ</label>
                                    <input type="text" class="form-control" id="inputAddress">
                                </div>
                                <div style="margin-top:3%">
                                    <button type="submit" class="btn btn-default pull-left" style="background-color: #fe980f; color: white; height:40px">Cập nhật tài khoản</button>
                                    <button type="submit" class="btn btn-default pull-right" style="background-color: #fe980f; color: white; height:40px">Đổi mật khẩu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

