@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model PTStore.Models.Account

@{
    ViewData["Title"] = "Chi Tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#337ab7">Chi tiết tài khoản Admin</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên đăng nhập
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>
        <dt>
            Mật khẩu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>
        <dt>
            Trạng thái
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt>
            Số điện thoại
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.SoDienThoai)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt>
            Họ và tên
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.HoVaTen)
        </dd>
        <dt>
            Ngày sinh
        </dt>
        <dd>
            @Model.User.NgaySinh?.ToString("dd/M/yyyy")
        </dd>
        <dt>
            Giới tính
        </dt>
        <dd>
            @Model.User.GioiTinh
        </dd>
        <dt>
            Địa chỉ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.DiaChi)
        </dd>
    </dl>
</div>
<div class="col-md-offset-1">
    <a class="btn btn-default" style="background-color:#337ab7; color:white" asp-action="Edit" asp-route-id="@Model.AccountId">Sửa trạng thái</a>
    
</div>
<div style="margin-top:2%">
    <a asp-action="Index">Quay lại trang chủ</a>
</div>
