@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model PTStore.Models.DienThoai
@{
    ViewData["Title"] = @Model.Name;
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section>
    <div class="container" style="margin-top:3%">
        <div class="row">
            <h2>Sản phẩm: @Model.Name</h2>
            <div class="col-sm-12 padding-right" style="background-color:white">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-4">
                        <div class="view-product">
                            <img src="@Model.HinhAnh" alt="">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-information">
                            <!--/product-information-->
                            <img src="images/product-details/new.jpg" class="newarrival" alt="">

                            <img src="images/product-details/rating.png" alt="">
                            <span>
                                <span style="font-size:24px">@string.Format("{0:0,0}", Model.Gia)₫</span>
                            </span>
                            <span>
                                <label>Số lượng</label>
                                <input type="number" min="1" max="@Model.SoLuong" value="1">
                            </span>

                            <button onclick="ThemVaoGioHang(@Model.DienThoaiId)" style="background-color:#fe980f; color:white; height:40px; margin-top:2%" class="btn btn-default">Thêm vào giỏ hàng</button>

                            <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt=""></a>
                        </div><!--/product-information-->
                    </div>
                    <div class="col-sm-5">
                        <p style="font-size:22px"><b>Thông số sản phẩm</b></p>
                        <div class="col-sm-4">
                            <div class="single-widget">
                                <!--Danh sách tựa của thông số-->
                                <ul class="nav nav-pills nav-stacked">
                                    <li><h5>Hệ điều hành:</h5></li>
                                    <li><h5>Màn hình:</h5></li>
                                    <li><h5>Camera sau:</h5></li>
                                    <li><h5>Camera trước:</h5></li>
                                    <li><h5>CPU:</h5></li>
                                    <li><h5>RAM:</h5></li>
                                    <li><h5>Bộ nhớ trong:</h5></li>
                                    <li><h5>Thẻ sim:</h5></li>
                                    <li><h5>Dung lượng Pin:</h5></li>
                                    <li><h5>Ngày ra mắt:</h5></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="single-widget">
                                <!--Thông số-->
                                <ul class="nav nav-pills nav-stacked">
                                    <li><h5>@Model.ThongSoKyThuat.HeDieuHanh</h5></li>
                                    <li><h5>@Model.ThongSoKyThuat.ManHinh</h5></li>
                                    <li><h5>@Model.ThongSoKyThuat.CameraTruoc</h5></li>
                                    <li><h5>@Model.ThongSoKyThuat.CameraSau</h5></li>
                                    <li><h5>@Model.ThongSoKyThuat.Cpu</h5></li>
                                    <li><h5>@Model.ThongSoKyThuat.Ram</h5></li>
                                    <li><h5>@Model.ThongSoKyThuat.BoNhoTrong</h5></li>
                                    <li><h5>@Model.ThongSoKyThuat.TheSim</h5></li>
                                    <li><h5>@Model.ThongSoKyThuat.DungLuongPin</h5></li>
                                    <li><h5>@Model.ThongSoKyThuat.NgayRaMat?.ToString("dd/M/yyyy")</h5></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div><!--/product-details-->
                <!--<div class="recommended_items">-->
                @*lấy cái đầu tiên làm mẫu*@
                <!--<h2 class="title text-center">Có thể bạn đang tìm</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <div id="DienThoaiTrongTamGiaPartial"></div>
    <div id="DienThoaiDeXuatPartial"></div>
</section>
<script>
    function LoadDienThoaiDeXuatPartial() {
        $.ajax({
            url: "/Home/DienThoaiDeXuatPartial",
            contentType: "application/html; charset=utf-8",
            type: "GET",
            cache: !0,
            dataType: "html",
            success: function (t) {
                $("#DienThoaiDeXuatPartial").html(t)
            },
            error: function () {
                $("#DienThoaiDeXuatPartial").html("Error when loading DienThoaiDeXuat")
            }
        })
    }

    function LoadDienThoaiTrongTamGiaPartial() {
        $.ajax({
            url: "/Home/DienThoaiTrongTamGiaPartial",
            contentType: "application/html; charset=utf-8",
            type: "GET",
            cache: !0,
            dataType: "html",
            success: function (t) {
                $("#DienThoaiTrongTamGiaPartial").html(t)
            },
            error: function () {
                $("#DienThoaiTrongTamGiaPartial").html("Error when loading DienThoaiTrongTamGia")
            }
        })
    }

    $(document).ready(function () {
        LoadDienThoaiDeXuatPartial();
        LoadDienThoaiTrongTamGiaPartial();
    });
</script>

