@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model IEnumerable<PTStore.Common.ViewModels.Admin.DienThoaiIndexViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#337ab7">Quản lý điện thoại</h2>
<div class="navbar-form navbar-left" style="padding-top:7px; padding-left:0px">
    <form class="navbar-form navbar-left" asp-area="Admin" asp-controller="DienThoai" asp-action="Index" method="post">
        <div class="input-group">
            <input type="text" value="" class="form-control" name="search" placeholder="Nhập nội dung ...">
            <span class="input-group-btn"><button type="submit"  class="btn btn-primary">Tìm kiếm</button></span>
        </div>
    </form>
</div>
<p style="float: right; padding-right: 145px; margin-top: 30px;">
    <a asp-action="Create">Thêm điện thoại</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên điện thoại
            </th>
            <th>
                Tình trạng điện thoại
            </th>
            <th>
                Link Hình ảnh
            </th>
            <th>
                Giá bán
            </th>
            <th>
                Giá gốc
            </th>
            <th>
                Số lượng còn
            </th>
            <th>
                Tên Thương Hiệu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dienThoai.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dienThoai.TinhTrang)
                </td>
                <td style="overflow: hidden;">
                    @Html.DisplayFor(modelItem => item.dienThoai.HinhAnh)
                </td>
                <td >
                    @string.Format("{0:0,0}", item.dienThoai.Gia) VND
                </td>
                <td >
                    @string.Format("{0:0,0}", item.dienThoai.GiaGoc) VND
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dienThoai.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenThuongHieu)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.dienThoai.DienThoaiId">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.dienThoai.DienThoaiId">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        document.getElementById("ahome").className = "";
        document.getElementById("abieudo").className = "";
        document.getElementById("adienthoai").className = "active";
        document.getElementById("adonhang").className = "";
        document.getElementById("agopy").className = "";
        document.getElementById("athuonghieu").className = "";

        document.getElementById("ataikhoan").className = "";
        document.getElementById("asubcriber").className = "";
        document.getElementById("aadmin").className = "";
        document.getElementById("acustomer").className = "";
    });
</script>
<style>
    .table > thead > tr > th {
        vertical-align: inherit !important;
    }

    table {
        table-layout: fixed;
    }
</style>
