@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model IEnumerable<PTStore.Models.DienThoai>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#337ab7">Quản lý điện thoại</h2>

<p>
    <a class="btn btn-default" asp-action="Create" style="background-color: #337ab7; color:white; margin-top:1%; border-color:#337ab7">Thêm điện thoại</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên điện thoại
            </th>
            <th>
                Tình trạng điện thoại
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Giá đang kinh doanh
            </th>
            <th>
                Giá gốc
            </th>
            <th>
                Số lượng còn
            </th>
            <th>
                Thông số kỹ thuật
            </th>
            <th>
                Thương Hiệu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HinhAnh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaGoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThongSoKyThuat.ThongSoKyThuatId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThuongHieu.TenThuongHieu)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DienThoaiId">Sửa</a> |
                    <a asp-action="Details" asp-route-id="@item.DienThoaiId">Chi tiết</a> |
                    <a asp-action="Delete" asp-route-id="@item.DienThoaiId">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        document.getElementById("ahome").className = "";
        document.getElementById("abieudo").className = "";
        document.getElementById("adienthoai").className = "active";
        document.getElementById("adonhang").className = "";
        document.getElementById("agopy").className = "";
        document.getElementById("athuonghieu").className = "";

        document.getElementById("ataikhoan").className = "";
        document.getElementById("asubcriber").className = "";
        document.getElementById("aadmin").className = "";
        document.getElementById("acustomer").className = "";
    });
</script>
