@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model List<PTStore.Models.DienThoai>

<section style="background-color:#f0f0e9 ; margin-top:2%">
    <div class="container" style="background-color:white">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="recommended_items" style="margin-top:3%">
                    <h2 class="title text-center">CÁC ĐIỆN THOẠI ĐỀ XUẤT</h2>
                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item">
                                @for (int i = 0; i < 4; i++)
                                {
                                    <div class="col-sm-3" style="height:377.150px !important">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="@Model[i].HinhAnh" alt="@Model[i].Name" style="height:256.75px;width:auto">
                                                    <h2>@string.Format("{0:0,0}", Model[i].Gia)₫</h2>
                                                    <p style="font-size:16px">@Model[i].Name</p>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <ul class="ulfix">
                                                            <li>Màn hình: @Model[i].ThongSoKyThuat.ManHinh</li>
                                                            <li>Camera trước: @Model[i].ThongSoKyThuat.CameraTruoc</li>
                                                            <li>Camera sau: @Model[i].ThongSoKyThuat.CameraSau</li>
                                                            <li>CPU: @Model[i].ThongSoKyThuat.Cpu</li>
                                                            <li>RAM: @Model[i].ThongSoKyThuat.Ram</li>
                                                            <li>Bộ nhớ trong: @Model[i].ThongSoKyThuat.BoNhoTrong</li>
                                                            <li>Dung lượng Pin: @Model[i].ThongSoKyThuat.DungLuongPin</li>
                                                        </ul>
                                                        <h2>@string.Format("{0:0,0}", Model[i].Gia)₫</h2>
                                                        <p>@Model[i].Name</p>
                                                        <a asp-controller="DienThoai" asp-action="ChiTiet" asp-route-id="@Model[i].DienThoaiId" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Chi tiết</a>
                                                        <a href="#" onclick="ThemVaoGioHang(@Model[i].DienThoaiId)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="item active">
                                @for (int i = 4; i < 8; i++)
                                {
                                    <div class="col-sm-3">
                                        <div class="product-image-wrapper">
                                            <div class="single-products">
                                                <div class="productinfo text-center">
                                                    <img src="@Model[i].HinhAnh" alt="@Model[i].Name" style="height:256.75px;width:auto">
                                                    <h2>@string.Format("{0:0,0}", Model[i].Gia)₫</h2>
                                                    <p style="font-size:16px">@Model[i].Name</p>
                                                </div>
                                                <div class="product-overlay">
                                                    <div class="overlay-content">
                                                        <ul class="ulfix">
                                                            <li>Màn hình: @Model[i].ThongSoKyThuat.ManHinh</li>
                                                            <li>Camera trước: @Model[i].ThongSoKyThuat.CameraTruoc</li>
                                                            <li>Camera sau: @Model[i].ThongSoKyThuat.CameraSau</li>
                                                            <li>CPU: @Model[i].ThongSoKyThuat.Cpu</li>
                                                            <li>RAM: @Model[i].ThongSoKyThuat.Ram</li>
                                                            <li>Bộ nhớ trong: @Model[i].ThongSoKyThuat.BoNhoTrong</li>
                                                            <li>Dung lượng Pin: @Model[i].ThongSoKyThuat.DungLuongPin</li>
                                                        </ul>
                                                        <h2>@string.Format("{0:0,0}", Model[i].Gia)₫</h2>
                                                        <p>@Model[i].Name</p>
                                                        <a asp-controller="DienThoai" asp-action="ChiTiet" asp-route-id="@Model[i].DienThoaiId" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Chi tiết</a>
                                                        <a href="#" onclick="ThemVaoGioHang(@Model[i].DienThoaiId)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <a class="left recommended-item-control" href="/Home/Index#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="/Home/Index#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>