@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@model List<PTStore.Models.DienThoai>

<section style="background-color:#f0f0e9 ; margin-top:2%">
    <div class="container" style="background-color:white">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center" style="margin-top:2%">CÓ THỂ BẠN QUAN TÂM</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img src="@item.HinhAnh" alt="@item.Name" style="height:256.75px;width:auto">
                                        <h2>@string.Format("{0:0,0}", item.Gia)₫</h2>
                                        <p style="font-size:16px">@item.Name</p>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <ul class="ulfix">
                                                <li>Màn hình: @item.ThongSoKyThuat.ManHinh</li>
                                                <li>Camera trước: @item.ThongSoKyThuat.CameraTruoc</li>
                                                <li>Camera sau: @item.ThongSoKyThuat.CameraSau</li>
                                                <li>CPU: @item.ThongSoKyThuat.Cpu</li>
                                                <li>RAM: @item.ThongSoKyThuat.Ram</li>
                                                <li>Bộ nhớ trong: @item.ThongSoKyThuat.BoNhoTrong</li>
                                                <li>Dung lượng Pin: @item.ThongSoKyThuat.DungLuongPin</li>
                                            </ul>
                                            <h2>@string.Format("{0:0,0}", item.Gia)₫</h2>
                                            <p>@item.Name</p>
                                            <a asp-controller="DienThoai" asp-action="ChiTiet" asp-route-id="@item.DienThoaiId" class="btn btn-default add-to-cart"><i class="fa fa-eye"></i>Chi tiết</a>
                                            <a href="#" onclick="ThemVaoGioHang(@item.DienThoaiId)" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>