@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using PTStore.Common.ViewModels

@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="cart_items" style="margin-top:3%">
    <div class="container" style="background-color:white">
        <h3 style="margin-top:2%; color:#8C8C88">Giỏ Hàng Của Bạn</h3>
        <div class="table-responsive cart_info" style="margin-top:2%">
            @if (GioHangViewModel.lstDienThoai.Count == 0)
            {
                <h1 class="text-info">Chưa có sản phẩm nào trong giỏ hàng</h1>
                <a class="btn btn-default check_out" asp-action="Index" asp-controller="DienThoai" style="height:30px">Xem điện thoại</a>
            }
            else
            {
                <table class="table table-condensed">
                    <thead style="text-align:center">
                        <tr class="cart_menu">
                            <td class="image col-sm-2">Sản Phẩm</td>
                            <td class="description"></td>
                            <td class="price">Giá</td>
                            <td class="quantity">Số lượng</td>
                            <td class="total">Tổng tiền</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        @for (int i = 0; i < GioHangViewModel.lstDienThoai.Count; i++)
                        {
                            string idSL = "soluong" + GioHangViewModel.lstDienThoai[i].Id;
                            string idTongGia = "tonggia" + GioHangViewModel.lstDienThoai[i].Id;
                            string idGia = "gia" + GioHangViewModel.lstDienThoai[i].Id;
                            string idtang = "aup" + GioHangViewModel.lstDienThoai[i].Id;
                            string idgiam = "adown" + GioHangViewModel.lstDienThoai[i].Id;
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src=@GioHangViewModel.lstDienThoai[i].LinkHinh class="imageincart" alt=""></a>
                                </td>
                                <td class="cart_description" style="color:#8C8C88">
                                    <h4>@GioHangViewModel.lstDienThoai[i].Name</h4>
                                </td>
                                <td class="cart_price">
                                    <p id="">@string.Format("{0:0,0}", GioHangViewModel.lstDienThoai[i].Gia)đ</p>
                                    <input id="@idGia" type="hidden" value="@GioHangViewModel.lstDienThoai[i].Gia" />
                                    <input id="iptonggia" type="hidden" value="@GioHangViewModel.TongTien" />
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button col-sm-offset-3">
                                        <a id="@idgiam" class="cart_quantity_up" href="#" onclick="GiamSoLuong(@GioHangViewModel.lstDienThoai[i].Id)"> - </a>
                                        <input class="cart_quantity_input" type="text" id="@idSL" name="quantity" value=@GioHangViewModel.lstDienThoai[i].Soluong autocomplete="off" size="2">
                                        <a id="@idtang" class="cart_quantity_down" href="#" onclick="TangSoLuong(@GioHangViewModel.lstDienThoai[i].Id)"> + </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price" id="@idTongGia">@string.Format("{0:0,0}", GioHangViewModel.lstDienThoai[i].TongGia)đ</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" asp-action="XoaSP" asp-route-id="@GioHangViewModel.lstDienThoai[i].Id"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</section>
<section id="do_action">
    <div class="container" style="background-color:white">
        <div class="row">
            <div class="col-sm-offset-6 ">
                <div class="total_area" style="margin-right:2%">
                    <ul>
                        <li>Tạm tính <span id="spTamTinh">@string.Format("{0:0,0}", GioHangViewModel.TongTien)đ</span></li>
                        <li>Thành tiền <span id="spThanhTien">@string.Format("{0:0,0}", GioHangViewModel.TongTien)đ</span></li>
                    </ul>
                    <a class="btn btn-default check_out pull-right" asp-action="TienHanhDatHang" style="height:30px">Tiến hành đặt hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .imageincart {
        width: 70%;
        height: 70%;
    }
</style>
<script>
    Number.prototype.format = function (n, x) {
        var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
        return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
    };

    function TangSoLuong(id) {
        var slid = "#soluong" + id;
        var x = parseInt($(slid).val()) + 1;
        var ttid = "#tonggia" + id;
        var giaid = "#gia" + id;
        var gia = parseInt($(giaid).val());
        var tonggia = parseInt($("#iptonggia").val()) + gia;
        var li = "aup" + id;
        $("#iptonggia").val(tonggia);
        $.ajax({
            url: 'GioHang/TangSoLuong/' + id,
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: { id: id },
            processData: false,
            cache: false,
            success: function (data) {
                $(slid).val(x);
                $(ttid).text((gia * x).format() + "đ");
                $("#spTamTinh").text(tonggia.format() + "đ");
                $("#spThanhTien").text(tonggia.format() + "đ");
            },
            error: function (xhr) {
                alert('error');
            }
        });
    }

    function GiamSoLuong(id) {
        var slid = "#soluong" + id;
        var x = parseInt($(slid).val());
        if (x == 1) {
            alert('Số lượng phải lớn hơn 1 !!!');
        }
        else {
            x--;
            var ttid = "#tonggia" + id;
            var giaid = "#gia" + id;
            var gia = parseInt($(giaid).val());
            var tonggia = parseInt($("#iptonggia").val()) - gia;
            var li = "adown" + id;
            $("#iptonggia").val(tonggia);
            $.ajax({
                url: 'GioHang/GiamSoLuong/' + id,
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: { id: id },
                processData: false,
                cache: false,
                success: function (data) {
                    $(slid).val(x);
                    $(ttid).text((gia * x).format() + "đ");
                    $("#spTamTinh").text(tonggia.format() + "đ");
                    $("#spThanhTien").text(tonggia.format() + "đ");
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        }
    }
</script>

