@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@using PTStore.Common.ViewModels

@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="cart_items" style="margin-top:3%">
    <div class="container" style="background-color:white">
        <h3 style="margin-top:2%; color:#8C8C88">Giỏ Hàng Của Bạn</h3>
        <div class="table-responsive cart_info" style="margin-top:2%">
            @if (GioHangViewModel.lstDienThoai.Count == 0)
            {
                <h1 class="text-info">Chưa có sản phẩm nào trong giỏ hàng</h1>
            }
            else
            {
                <table class="table table-condensed">
                    <thead style="text-align:center">
                        <tr class="cart_menu">
                            <td class="image col-sm-2">Sản Phẩm</td>
                            <td class="description"></td>
                            <td class="price">Giá</td>
                            <td class="quantity">Số lượng</td>
                            <td class="total">Tổng tiền</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        @for (int i = 0; i < GioHangViewModel.lstDienThoai.Count; i++)
                        {
                            <tr>
                                <td class="cart_product">
                                    <a href=""><img src=@GioHangViewModel.lstDienThoai[i].LinkHinh class="imageincart" alt=""></a>
                                </td>
                                <td class="cart_description" style="color:#8C8C88">
                                    <h4>@GioHangViewModel.lstDienThoai[i].Name</h4>
                                </td>
                                <td class="cart_price">
                                    <p>@string.Format("{0:0,0}", GioHangViewModel.lstDienThoai[i].Gia)đ</p>
                                </td>
                                <td class="cart_quantity">
                                    <div class="cart_quantity_button col-sm-offset-3">
                                        <a class="cart_quantity_up" href=""> - </a>
                                        <input class="cart_quantity_input" type="text" name="quantity" value=@GioHangViewModel.lstDienThoai[i].Soluong autocomplete="off" size="2">
                                        <a class="cart_quantity_down" href=""> + </a>
                                    </div>
                                </td>
                                <td class="cart_total">
                                    <p class="cart_total_price">@string.Format("{0:0,0}", GioHangViewModel.lstDienThoai[i].TongGia)đ</p>
                                </td>
                                <td class="cart_delete">
                                    <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

        </div>
    </div>
</section>
<section id="do_action">
    <div class="container" style="background-color:white">
        <div class="row">
            <div class="col-sm-offset-6 ">
                <div class="total_area" style="margin-right:2%">
                    <ul>
                        <li>Tạm tính <span>@string.Format("{0:0,0}", GioHangViewModel.TongTien)đ</span></li>
                        <li>Thành tiền <span>@string.Format("{0:0,0}", GioHangViewModel.TongTien)đ</span></li>
                    </ul>
                    <a class="btn btn-default check_out pull-right" asp-action="TienHanhDatHang" style="height:30px">Tiến hành đặt hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    .imageincart {
        width: 70%;
        height: 70%;
    }
</style>

