@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model IEnumerable<PTStore.Models.Account>

@{
    ViewData["Title"] = "Tài khoản Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Tài khoản Admin</h2>

<div class="navbar-form navbar-left" style="padding-top:7px; padding-left:0px">
    <form class="navbar-form navbar-left">
        <div class="input-group">
            <input type="text" value="" class="form-control" placeholder="Nhập nội dung ...">
            <span class="input-group-btn"><button type="button" class="btn btn-primary">Tìm kiếm</button></span>
        </div>
    </form>
</div>
<p style="float: right; padding-right: 145px; margin-top: 30px;">
    <a asp-action="Create">Thêm tài khoản</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên đăng nhập
            </th>
            <th>
                Mật khẩu
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDangNhap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MatKhau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrangThai)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AccountId">Sửa trạng thái</a> |
                    <a asp-action="Details" asp-route-id="@item.AccountId">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        document.getElementById("ahome").className = "";
        document.getElementById("abieudo").className = "";
        document.getElementById("adienthoai").className = "";
        document.getElementById("adonhang").className = "";
        document.getElementById("agopy").className = "";
        document.getElementById("athuonghieu").className = "";

        document.getElementById("ataikhoan").className = "active";
        document.getElementById("asubcriber").className = "";
        document.getElementById("aadmin").className = "";
        document.getElementById("acustomer").className = "";
    });
</script>
