@model PTStore.Models.ChiTietDonHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChiTietDonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DienThoai.DienThoaiId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DonHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DonHang.DonHangId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
